In [2]:
a = [1,2,3,4,5]  # using append function in the list
b = []
for i in a:
    b.append(i*i)
b

[1, 4, 9, 16, 25]

In [3]:
#slicing is used to extract a continous sequence of any object i.e array , string , tuple ,list etc.
b[1:5]

[4, 9, 16, 25]

In [4]:
b[:5:2]

[1, 9, 25]

In [1]:
a = [12,56,92,34,51,96,87]

In [6]:
index = 0
for i in a:
    print(i)
    if(i==96):
         print("HIGHEST marks of a random student")
index = index + 1

12
56
92
34
51
96
HIGHEST marks of a random student
87

In [7]:
for index , i in enumerate(a):   #use of enumerate function in phyton
    print(i)
    if(index == 3):
        print("highest marks")

12
56
92
34
highest marks
51
96
87

In [12]:
for i,j in enumerate(a,start=0):
    print(i,j)

0 12
1 56
2 92
3 34
4 51
5 96
6 87

In [13]:
# enumerate function is a built in function in a phyton that allows you to loop over a sequence i.e array , strings etc and get the index and value of each element at the same time

In [14]:
seq = [1,4,6,3,2,5,6,2,13,5,743]   # sorted function is used to get a new sorted list but the original list reamins same remember
sorted(seq)

[1, 2, 2, 3, 4, 5, 5, 6, 6, 13, 743]

In [16]:
seq

[1, 4, 6, 3, 2, 5, 6, 2, 13, 5, 743]

In [21]:
#zip function is used to iterate over 2 or more lists using enumerate
seq1 = ['def' ,'abc', 'ghi']
seq2 = ['mno' ,'pqr', 'jkl']
seq3 = ['mno' ,'pqr', 'jkl']
for index , (i,j,k) in enumerate(zip(seq1,seq2,seq3)):
    print (index , ':',(i,j,k))

0 : ('def', 'mno', 'mno')
1 : ('abc', 'pqr', 'pqr')
2 : ('ghi', 'jkl', 'jkl')

In [22]:
#using zip method u can pair up the elements of the lists , tuples , sequences etc.

In [23]:
list1 = (1,3,4,5,6,7,8)
list1

(1, 3, 4, 5, 6, 7, 8)

In [24]:
for index , i in enumerate(list1): #using enumerate function
    print(index,i)

0 1
1 3
2 4
3 5
4 6
5 7
6 8

In [25]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')] 
pairs

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [28]:
#unzip the list of tuples using zip function along with unpacking operator '*'
a , b = zip(*pairs)
a

(1, 2, 3, 4)

In [29]:
b

('a', 'b', 'c', 'd')

In [31]:
list(reversed(pairs)) #reversed function

[(4, 'd'), (3, 'c'), (2, 'b'), (1, 'a')]

In [32]:
tuple(reversed(pairs)) #reversed function returns the reversed iterator of the given sequence

((4, 'd'), (3, 'c'), (2, 'b'), (1, 'a'))